@media (max-width: 700px) {
  .nav-menu {
    display:  block;
  }

  .nav-list {
    /*float: left;*/
    width:    100%;
    height:   0;
  }

  .nav-open {
    height: auto;
  }

  .nav-list li {
    width:    100%;
  }
  
  .nav-list li a {
    padding:  10px 10px;
  }

}
@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}
@media screen and (min-width: 610px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

